.development-agency {
  max-width: $desktop-width;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-direction: column;

  @include mobile {
    background: red;
    padding: 0px 20px;
  }
  @include tablet {
    background: yellowgreen;
    padding: 0px 50px;
  }

  .independent {
    line-height: normal;
    font-size: 56px;
    color: #202020;
    word-break: break-all;
  }
  .independent-discription {
    line-height: 50px;
    font-size: 30px;
    color: #4f4f4f;
    margin-top: 24px;
    margin-bottom: 70px;

    .desktop-only {
      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }
  }

  .independent-contactus {
    width: 235px;
    height: 60px;
    font-size: 24px;
    background: #5528ff;
    border-radius: 5px;
    color: #ffffff;
    border: none;
    outline: none;
    line-height: 26px;

    @include mobile{
      margin: 0 auto;
    }
  }
}

.middle-line {
  border-bottom: 1px solid #E5E5E5;
  margin-top: 109px;

  .midline-block {
    max-width: $desktop-width;
    margin: 0px auto;

    @include tablet{
      padding: 0px 50px;
    }
    .our-services {
      width: 80px;
      height: 17px;
      font-size: 10px;
      background: white;
      color: #C2C2C2;
      position: relative;
      top: 12px;
      padding-left: 5px;
      padding-right: 5px;

      @include mobile{
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

